<div class="shadow" (click)="integrationService.clickEvent(); rollback()"></div>
  <div class="popup-window" [@sizeOfForm]="size">
    <div class="cl-btn-2" title="Закрыть" (click)="integrationService.clickEvent(); rollback()">
      <div>
        <div class="leftright"></div>
        <div class="rightleft"></div>
      </div>
    </div>

    <form [formGroup]="reactiveForm" [ngClass]="{'hide-form': hideForm}" (ngSubmit)="onSubmit()">
      <h3>Оставьте заявку</h3>
      <div class="field">
        <label for="name">Имя</label>
        <input type="text" id="name" placeholder="Введите свое имя" formControlName="name" name="name" max="12">
      </div>

      <div class="field">
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="Введите адрес электронной почты" formControlName="email" name="email">
      </div>

      <div class="field">
        <label for="telephone">Телефон<span>*</span></label>
        <input type="text" id="telephone" placeholder="Введите свой номер телефона" formControlName="telephone" required="required">
        <div class="error" *ngIf="isControlInvalid('telephone') || wrongNumber">
          {{installErrorMsg}}
        </div>
      </div>

      <textarea type="text" placeholder="Напишите какую интеграцию вы бы хотели сделать" formControlName="comment" maxlength="60"></textarea>
      <button class="button" [class.btn-load]="loading" type="submit" (click)="start()" [disabled]="reactiveForm.invalid">{{buttonText}}</button>
    </form>

    <p [ngClass]="{'hideMessage': hideMsg, 'alert-success': alertSuccess, 'alert-fail': alertFail}">
      {{msg}}
    </p>
  </div>



