.shadow {
  position: fixed;
  background: #000000;
  opacity: 0.6;
  z-index: 20;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.popup-window {
  width: 540px;
  height: auto;
  overflow: hidden;
  background-color: #fefefe;
  position: fixed;
  z-index: 40;
  top: 25%;
  left: 30%;
  border-radius: 5px;
  box-shadow: 0 0 30px 0 rgb(0 0 0.35);
  padding: 15px;
  transition: max-height 1s;
  -webkit-transition: max-height 1s;
}
h3 {
  /*margin: 0 0 30px 37%;*/
  color: #60bbb5;
  position: relative;
  left: 37%;
  bottom: 20px;
}
.field {
  margin: 0 auto 16px auto;
  padding: 0.25rem;
}
label {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  font-size: 1.125rem;
  justify-content: center;
}
input {
  width: 60%;
  height: 2.375rem;
  display: block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  color: #495057;
  background-color: white;
  border: 1px solid #ced4da;
  margin: 0 auto;
}

input.ng-touched.ng-invalid{
  border-color: red;
}
.error{
  color: red;
  font-size: 10px;
  text-align: center;
}

button {
  padding: 2px 8px;
  font-weight: bold;
  color: white;
  margin-left: 40%;
}
button:active {
  cursor: wait;
}
/*.close {
  position: absolute;
  left: 500px;
  bottom: 373px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #e55749;
  cursor: pointer;
}*/

/*.cl-btn-2 {*/
/*  margin: 20px;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/
.cl-btn-2 div {
  cursor: pointer;
  position: relative;
  height: 25px;
  width: 25px;
  left: 240px;
  bottom: 5px;
  z-index: 21;
}
.cl-btn-2 .leftright {
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: #e55749;
  border-radius: 2px;
  transform: rotate(45deg);
}
.cl-btn-2 .rightleft {
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: #e55749;
  border-radius: 2px;
  transform: rotate(-45deg);
}
.cl-btn-2 div:hover .leftright{
  background-color: #D3D3D3;
}
.cl-btn-2 div:hover .rightleft {
  background-color: #D3D3D3;
}

.hideForm {
  visibility: hidden;
}

.hideMessage {
  opacity: 0;
}
.alert-success, .alert-fail {
  /*text-align: center;*/
  font-size: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  /*line-height: 20px;*/
  /*margin-bottom: 30px;*/
  position: absolute;
  bottom: 48px;
  left: 19%;
  opacity: 1;
}

.alert-success {
  color: #60bbb5;
}
.alert-fail {
  transition: opacity 0.5s linear 1s;
  -webkit-transition: opacity 0.5s linear 1s;
  color: #e55749;
}
