.shadow {
  position: fixed;
  background: #000000;
  opacity: 0.6;
  z-index: 20;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.popup-window {
  width: 540px;
  overflow: hidden;
  background-color: #fefefe;
  position: fixed;
  z-index: 40;
  top: 15%;
  /*transform: translateY(-50%);*/
  /*left: 30%;*/
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 5px;
  box-shadow: 0 0 30px 0 rgb(0 0 0.35);
  padding: 15px;
  /*недавно добавил*/
  text-align: center;
}
h3 {
  color: #60bbb5;
  position: relative;
  /*left: 37%;*/
  bottom: 20px;

}
.field {
  margin: 0 auto 16px auto;
  padding: 0.25rem;
}
label[for=telephone] span {
  opacity: 0.6;
  font-size: 10px;
  margin-left: 4px;
}
label {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  font-size: 1.125rem;
  justify-content: center;
}
input {
  width: 60%;
  height: 2.375rem;
  display: block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  color: #495057;
  background-color: white;
  border: 1px solid #ced4da;
  margin: 0 auto;
}

input.ng-touched.ng-invalid{
  border-color: red;
}
.error{
  color: red;
  font-size: 12px;
  text-align: center;
}

button {
  font-weight: bold;
  color: white;
  /*margin-left: 40%;*/
  margin-top: 16px;
  border: none;
  width: 120px;
  height: 35px;

}
button:disabled {
  opacity: 0.4;
}
.btn-load {
  pointer-events: none;
  opacity: 1;
  background-image: repeating-linear-gradient(47deg, #e55749, #e55749 20%, #D32F2F 20%, #D32F2F 40%,
  #e55749 40%);
  background-image: -moz-repeating-linear-gradient(47deg, #e55749, #e55749 20%, #D32F2F 20%, #D32F2F 40%,
  #e55749 40%);
  background-image: -ms-repeating-linear-gradient(47deg, #e55749, #e55749 20%, #D32F2F 20%, #D32F2F 40%,
  #e55749 40%);
  background-image: -webkit-repeating-linear-gradient(47deg, #e55749, #e55749 20%, #D32F2F 20%, #D32F2F 40%,
  #e55749 40%);
  background-image: -o-repeating-linear-gradient(47deg, #e55749, #e55749 20%, #D32F2F 20%, #D32F2F 40%,
  #e55749 40%);
  animation: progress-bar-stripes 0.8s linear infinite 0s;
  animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
}
@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 120px;
  }
}

.cl-btn-2 div {
  cursor: pointer;
  position: relative;
  height: 25px;
  width: 25px;
  left: 240px;
  bottom: 5px;
  z-index: 21;
}
.cl-btn-2 .leftright {
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: #e55749;
  border-radius: 2px;
  transform: rotate(45deg);
}
.cl-btn-2 .rightleft {
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: #e55749;
  border-radius: 2px;
  transform: rotate(-45deg);
}
.cl-btn-2 div:hover .leftright{
  background-color: #D3D3D3;
}
.cl-btn-2 div:hover .rightleft {
  background-color: #D3D3D3;
}

.hide-form {
  visibility: hidden;
}

.hideMessage {
  opacity: 0;
}
.alert-success, .alert-fail {
  font-size: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  position: absolute;
  bottom: 48px;
  opacity: 1;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

.alert-success {
  transition: opacity 0.5s linear 1s;
  -webkit-transition: opacity 0.5s linear 1s;
  color: #60bbb5;
}
.alert-fail {
  transition: opacity 0.5s linear 1s;
  -webkit-transition: opacity 0.5s linear 1s;
  color: #e55749;
}

textarea {
  margin: 0 auto;
  width: 59%;
  height: 100px;
  resize: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  color: #495057;
  display: block;
  border-color: #ced4da;
  font-family: Inter, Arial, sans-serif;
  line-height: 16px;
  font-weight: 500;
}

@media screen and (max-width: 860px) {
  .popup-window {
    /*left: 20%;*/
    width: 400px;
  }
  input, textarea {
    width: 80%;
  }
  button {
    display: block;
    margin: 16px auto 0 auto;
  }
  /*h3 {*/
  /*  left: 30%;*/
  /*}*/
  .cl-btn-2 div {
    left: 170px;
  }
}

@media screen and (max-width: 417px) {
  .popup-window {
    width: 300px;
  }
  .cl-btn-2 div {
    left: 125px;
  }
}
