<div class="shadow"></div>
  <div class="popup-window" [@sizeOfForm]="size">
    <div class="cl-btn-2" title="Закрыть" (click)="integrationService.clickEvent(); rollback()">
      <div>
        <div class="leftright"></div>
        <div class="rightleft"></div>
      </div>
    </div>

    <form [formGroup]="reactiveForm" [ngClass]="{'hide-form': hideForm}" (ngSubmit)="onSubmit(reactiveForm.value)">
      <h3>Оставьте заявку</h3>
      <div class="field">
        <label for="name">Имя</label>
        <input type="text" id="name" placeholder="Введите свое имя" formControlName="name" name="name">
        <div class="error" *ngIf="isControlInvalid('name')">
          Имя должно состоять только из русских букв
        </div>
      </div>

      <div class="field">
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="Введите адрес электронной почты" formControlName="email" name="email">
        <div class="error" *ngIf="isControlInvalid('email')">
          Введите валидный адрес почты
        </div>
      </div>

      <div class="field">
        <label class="required-field" for="telephone">Телефон</label>
        <input type="text" id="telephone" placeholder="Введите свой номер телефона" formControlName="telephone">
        <div class="error" *ngIf="isControlInvalid('telephone')">
          {{errorInputMsg}}
        </div>
      </div>

      <textarea type="text" placeholder="Напишите какую интеграцию вы бы хотели сделать" formControlName="comment"></textarea>
      <button class="button" type="submit" (click)="start()" [disabled]="this.reactiveForm.invalid">Отправить</button>
    </form>


    <p [ngClass]="{'hideMessage': hideMsg, 'alert-success': alertSuccess, 'alert-fail': alertFail}">
      {{msg}}
    </p>
  </div>



