<!--<div [ngClass]="status ? 'success' : 'danger'" class="my_class">pop-up works!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</div>-->
<div class="shadow"></div>
  <div class="popup-window">
    <form [formGroup]="myFirstReactiveForm" (ngSubmit)="onSubmit(myFirstReactiveForm.value)">
      <h3>Оставьте заявку</h3>
      <div class="field">
        <label for="name">Имя</label>
        <input type="text" id="name" placeholder="Введите свое имя" formControlName="name" name="name">
      </div>

      <div class="field">
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="Введите адрес электронной почты" formControlName="email" name="email">
      </div>

      <div class="field">
        <label for="telephone">Телефон</label>
        <input type="text" id="telephone" placeholder="Введите свой номер телефона" formControlName="telephone">
      </div>

      <button class="button" type="submit" (click)="sendData()">Отправить</button>
    </form>
    <hr/><br/>
<!--    <div>-->
<!--      {{myFirstReactiveForm.value | json}}-->
<!--    </div>-->

    <a class="close" title="Закрыть" (click)="integrationService.clickEvent()">X</a>
  </div>

