<div class="wrapper">
  <header>
    <div class="site_content_holder container">
      <a href="#" class="logo" title="Главная Apix-Drive">Logo</a>
      <nav class="header_menu">
        <input id="menu-toggle" type="checkbox" />
        <label class="menu-btn" for="menu-toggle">
          <span></span>
        </label>
        <ul class="menu-box">
          <li><a class="menu-item" href="" title="Для кого?">Для кого?</a></li>
          <li>
            <a class="menu-item" href="" title="Готовые интеграции"
            >Готовые интеграции</a
            >
          </li>
          <li>
            <a
              class="menu-item"
              href="https://apix-drive.com/ru/partners"
              title="Партнеры"
            >Партнеры</a
            >
          </li>
          <li>
            <a
              class="menu-item"
              href="https://apix-drive.com/ru/blog"
              title="Блог"
            >Блог</a
            >
          </li>
          <li>
            <a
              class="menu-item"
              href="https://apix-drive.com/ru/help"
              title="Справка"
            >Справка</a
            >
          </li>
          <li>
            <a
              class="menu-item"
              href="https://apix-drive.com/ru/video"
              title="Видео"
            >Видео</a
            >
          </li>
        </ul>
      </nav>
      <div class="account">
        <a class="log_in" href="#" title="Вход в личный кабинет">Вход</a>
        <a class="button register" href="#" title="Зарегестрироваться"
        >Регистрация</a
        >
      </div>
    </div>
  </header>
  <!--====================main content================================-->
  <router-outlet></router-outlet>
  <!--===================main content===============================-->
  <footer>
    <div class="footer_container container">
      <div class="footer_column">
        <a href="#" class="logo" title="Главная Apix-Drive">Logo</a>
        <div class="footer_block">
          <p>Email: <a class="email" href="mailto:">support@mail.com</a></p>
          <p>
            Телефон:
            <a class="telephone" href="tel:XXXXXXXXXX">+7 (XXX) XXX XX XX</a>
          </p>
          <p>Адрес: <a class="location" href="">Россия, г. Самара</a></p>
          <div class="social_media">
            <a
              class="social_link"
              href="https://www.facebook.com"
              title="Facebook"
            ></a>
            <a
              class="social_link"
              href="https://t.me/apix_drive"
              title="Telegram"
            ></a>
            <a class="social_link" href="https://vk.com" title="VK"></a>
          </div>
        </div>
      </div>
      <!--footer_column-->
      <ul class="footer_menu">
        <li>
          <a href="#" target="_blank" title="Политика конфиденциальности"
          >Политика конфиденциальности</a
          >
        </li>
        <li>
          <a href="#" target="_blank" title="Партнерская программа"
          >Партнерская программа</a
          >
        </li>
        <li>
          <a href="#" target="_blank" title="Условия использования"
          >Условия использования</a
          >
        </li>
        <li><a href="#" title="Тарифы">Тарифы</a></li>
        <li>
          <a href="#" target="_blank" title="Индивидуальная разработка"
          >Индивидуальная разработка</a
          >
        </li>
        <li><a href="#" target="_blank" title="О нас">О нас</a></li>
      </ul>
    </div>
  </footer>
</div>
