<div class="wrapper">
  <header>
    <a href="/" class="logo" title="Solo-it Studio - Разработка сайтов на 1С-Битрикс">
      <img alt="Solo-it Studio - Разработка сайтов на 1С-Битрикс" src="assets/images/solo-it_logo.png">
    </a>
  </header>
 <!-- <header>
    <div class="site_content_holder container">
      <a href="#" class="logo" title="Главная">Logo</a>
      <nav class="header_menu">
        <input id="menu-toggle" type="checkbox" />
        <label class="menu-btn" for="menu-toggle">
          <span></span>
        </label>
        <ul class="menu-box">
          <li><a class="menu-item" href="" title="Для кого?">Для кого?</a></li>
          <li>
            <a class="menu-item" href="" title="Готовые интеграции"
            >Готовые интеграции</a
            >
          </li>
          <li>
            <a
              class="menu-item"
              href=""
              title="Партнеры"
            >Партнеры</a
            >
          </li>
          <li>
            <a
              class="menu-item"
              href=""
              title="Блог"
            >Блог</a
            >
          </li>
          <li>
            <a
              class="menu-item"
              href=""
              title="Справка"
            >Справка</a
            >
          </li>
          <li>
            <a
              class="menu-item"
              href=""
              title="Видео"
            >Видео</a
            >
          </li>
        </ul>
      </nav>
      <div class="account">
        <a class="log_in" href="#" title="Вход в личный кабинет">Вход</a>
        <a class="button register" href="#" title="Зарегестрироваться"
        >Регистрация</a
        >
      </div>
    </div>
  </header>-->
  <!--====================main content================================-->
  <router-outlet></router-outlet>
  <!--===================main content===============================-->
  <footer>
    <div class="footer_container container">

      <a href="/" class="logo" title="Solo-it Studio - Разработка сайтов на 1С-Битрикс">
        <img alt="Solo-it Studio - Разработка сайтов на 1С-Битрикс" src="assets/images/solo-it_logo.png">
      </a>
      <div class="footer_block">
        <p>Email: <a class="email" href="mailto:mailto:studio@solo-it.ru">mailto:studio@solo-it.ru</a></p>
        <p>
          Телефон:
          <a class="telephone" href="tel:+78462295160">+7 (846) 229 51 60</a>
        </p>
        <p>Адрес: <a class="location" href="">Россия, г. Самара</a></p>
      </div>

      <div class="social_media">
        <a
          class="social_link"
          href="https://www.facebook.com/bitrix24.amo.crm.samara/"
          title="Facebook"
        ></a>
        <a
          class="social_link"
          href="https://telegram.me/soloit_bot"
          title="Telegram"
        ></a>
        <a class="social_link" href="https://vk.com/bitrix24_amo_crm_samara" title="VK"></a>
      </div>

      <ul class="footer_menu">
        <li>
          <a href="https://whatschat.solo-it.ru/policy/privacy.php" target="_blank" title="Политика конфиденциальности"
          >Политика конфиденциальности</a
          >
        </li>
        <li><a href="https://solo-it.ru/kontakty/" target="_blank" title="О нас">О нас</a></li>
      </ul>
    </div>
  </footer>
</div>
