div {
  margin-top: 60px;
  margin-left: 30px;
  column-count: 5;
}
.system_item {
  list-style-type: none;
  margin: 10px 0;
}
.system_item a {
  color: black;
}

.list li {
  padding: 5px 10px 5px 0;
}
.list a {
  text-decoration: none;
  font-size: 13px;
  color: #464a55;
}
.list span {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 5px;
  float: left;
}

@media screen and (min-width: 626px) and (max-width: 917px) {
  div {
    column-count: 3;
  }
}
@media screen and (min-width: 379px) and (max-width: 625px) {
  div {
    column-count: 2;
  }
}
@media screen and (max-width: 378px) {
  div {
    column-count: 1;
  }
}
