/*------ systems. Блок с логотипами систем интеграций----------*/
.subtitle {
  color: #FFFFFF;
  margin: 10px 0 20px 0;
  text-align: center;
  line-height: 20px;
}
.title {
  display: inline-block;
  font-size: 36px;
  line-height: 40px;
  color: white;
  padding: 20px 0;
}
.systems svg {
  width: 48px;
  height: 48px;
  fill: #495957;
}
.subtitle a {
  color: white;
  text-decoration: underline;
}
.start_now_btn  {
  padding: 10px 55px;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 973px) {
  .systems {
    display: none;
  }
  .subtitle {
    font-size: 17px;
    text-align: left;
    max-width: 420px;
    margin-top: 0;
  }
  .container_for_content {
    align-items: flex-start;
    padding: 100px 0 20px 20px;
  }
}
@media screen and (max-width: 689px) {
  .subtitle {
    max-width: 220px;
  }
}

/*------howto. Блок с инструкцией как интегрировать системы-----------*/
.howto {
  margin-top: 70px;
  font-weight: 400;
}
.instruction {
  margin-top: 35px;
  display: flex;
  padding: 60px 0;
  flex-direction: row;
  flex-wrap: wrap;
}
.step {
  padding: 0 30px 0 30px;
  width: 25%;
  font-size: 15px;
  line-height: 20px;
  color: #464a55;
}
@media screen and (max-width: 749px) {
  .step {
    width: 50%;
    padding: 10px 30px 10px 30px;
  }
}
.icon {
  display: block;
  height: 75px;
  font-size: 36px;
  color: #60bbb5;
  font-weight: 700;
  line-height: 75px;
}

/*-------settings. Блок с настройками связки-------------*/
.settings_header {
  padding-top: 70px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
  line-height: 40px;
  color: #60bbb5;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}
/* .settings_container {
  width: 80%;
  border-radius: 10px;
  background: #ffffff;
  filter: drop-shadow(0px 0px 20px rgba(90,90,170,.2));
  margin: 50px auto 60px auto;
}

.data_source, .data_receiver {
  display: flex;
  align-items: center;
}
.data_source h2 {
  margin-right: 50px;
}
.data_receiver h2 {
  margin-right: 78px;
}
.system {
  width: 33%;
  margin-right: 30px;
}
.action {
  width: 55%;
}
.data_source {
  padding: 40px 40px 10px 40px;
}
.data_receiver {
  padding: 10px 40px 40px 40px;
}
.settings_container h2 {
  text-transform: uppercase;
  color: #60bbb5;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}
@media screen and (max-width: 911px) {
  .data_source {
    padding: 30px 20px 10px 20px;
  }
  .data_receiver {
    padding: 10px 20px 30px 20px;
  }
}
@media screen and (max-width: 803px) {
  .data_source, .data_receiver {
    flex-direction: column;
  }
  .data_source h2, .data_receiver h2 {
    margin-right: 0;
  }
  .system, .action {
    width: 100%;
  }
  .system {
    margin-right: 0;
  }
  .settings_container h2 {
    padding-bottom: 10px;
  }
}
.control .title {
  font-size: 14px;
}
.settings_container .control select {
  cursor: pointer;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  margin-top: 5px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #464a55;
}*/
.continue_settings {
  text-align: center;
  margin: 40px 0 60px 0;
}
.settings_btn {
  display: inline-block;
  padding: 15px 65px 15px 65px;
  color: #ffffff;
}

/*--------integrations. Список систем для интеграции-------------*/
.integrations_title {
  padding: 50px 0 15px 0;
  color: #464a55;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 4px dashed #e55749;
  /*border-radius: 10px;*/
}
.integrations_title span {
  font-weight: 400;
}
.system-list {
  width: 45%;
}
.source {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.lists {
  padding-top: 20px;
  list-style-type: none;
  column-count: 3;
}
.lists li {
  padding: 6px 15px 6px 0;
}

@media screen and (max-width: 1027px) {
  .source {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .system_item {
    width: 50%;
  }
}

.lists a {
  text-decoration: none;
  font-size: 13px;
  color: #464a55;
}
.lists span {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 5px;
  display: block;
  float: left;
}

/*-------questions. Блок с часто задаваемыми вопросами и краткое описание систем----------*/
.questions_container {
  padding-top: 80px;
  color: #444444;
  font-size: 15px;
}
.questions {
  font-size: 20px;
  padding-bottom: 10px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;}
summary {
  display:flex;
  padding: 20px 40px 20px 20px;
  font-weight: 600;
  cursor: pointer;
  padding-left: 30px;
}
summary span {
  background: url("/../../assets/images/expand.png") no-repeat;
  width: 16px;
  transition: transform 400ms ease;
}
summary p {
  padding-left: 10px;
}
details[open] summary span {
  transform: rotate(-0.5turn);
}
details {
  margin-top: 10px;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  transition: max-height 400ms;
}
.answer {
  padding: 0 20px 20px 34px;
  font-size: 14px;
  line-height: 18px;
}
details ul {
  margin-left: 33px;
}
a {
  color: #60bbb5;
  text-decoration: none;
}
details:not([open]) { max-height: 60px; }
details[open] {
  max-height: 500px;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
}
.about {
  font-size: 15px;
  line-height: 24px;
  color: #464a55;
  padding: 0 10px;
}
.about_header {
  padding-top: 30px;
  font-weight: bold;
}
.try_btn_container {
  margin-top: 40px;
  text-align: center;
}
.try_button {
  padding: 15px 65px 15px 65px;
  color: #ffffff;
  cursor: pointer;
}

/*------request-------*/
.request {
  margin-top: 80px;
  line-height: 40px;
}
.request p {
  padding: 10px 0 0 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #203058;
}
.request a {
  font-weight: bold;
  color: #60bbb5;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .article {
    width: calc(100% / 2 - 10px);
  }
}

/*pop-up component*/
.show {
  display: none;
}
