<!--Блок с логотипами систем интеграций-->
<div class="container_for_content" *ngIf="system1">
  <div class="systems">
    <img src="{{ system1.image }}" alt="{{ system1.title }}" title="{{ system1.title }}"/>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
      class="fill--purple--t2"
    >
      <g id="bf995fa3-3bf6-420d-8cf8-445688c874dc" data-name="Content">
        <path
          d="M83.06372.80432,98.40227,16.14276a5.45493,5.45493,0,0,1,0,7.71448L83.06372,39.19568a2.72747,2.72747,0,0,1-4.65608-1.92862V28.18242H2.37505A2.72748,2.72748,0,0,1-.35242,25.45494V14.54506a2.72748,2.72748,0,0,1,2.72747-2.72748H78.40764V2.73294A2.72747,2.72747,0,0,1,83.06372.80432Z"
        ></path>
        <path
          d="M16.58386,60.80432,1.24531,76.14276a5.455,5.455,0,0,0,0,7.71448L16.58386,99.19568a2.72747,2.72747,0,0,0,4.65608-1.92862V88.18242H97.27253A2.72748,2.72748,0,0,0,100,85.45494V74.54506a2.72748,2.72748,0,0,0-2.72747-2.72748H21.23994V62.73294A2.72747,2.72747,0,0,0,16.58386,60.80432Z"
        ></path>
      </g>
    </svg>
    <img *ngIf="system2" src="{{ system2.image }}" alt="{{ system2.title }}" title="{{ system2.title }}"/>
  </div>
  <h1 class="title" *ngIf="system2">{{ system1.name }} + {{ system2.name }}</h1>
  <p class="subtitle">
    Свяжите <a *ngIf="system1" href="#" [title]="system1.name + 'интеграция'">{{system1.name}}</a> и
    <a  *ngIf="system2" href="#" [title]="system2.name + 'интеграция'">{{system2.name}}</a>. Начните прямо сейчас!
  </p>
  <a title="Начать сейчас" class="button start_now_btn" (click)="integrationService.clickEvent()"
  >Начать сейчас</a
  >
</div>
<app-pop-up [class.show]="integrationService.status" class="shadow"></app-pop-up>
<!--Блок с инструкцией как интегрировать системы-->
<div class="howto container" *ngIf="system1">
  <h1 class="header" *ngIf="system2">
    Как интегрировать {{system1.name}} и {{system2.name}}<br />
    c помощью нашего сайта
  </h1>
  <p class="info" *ngIf="system2">
    Оставьте нам заявку и мы интегрируем {{system1.name}} с {{system2.name}}.
  </p>
  <div class="instruction">
    <div class="step">
      <span class="icon">Шаг 1</span>
      Выберите онлайн системы которые нужно «связать»
    </div>
    <div class="step">
      <span class="icon">Шаг 2</span>
      Заполните заявку
    </div>
    <div class="step">
      <span class="icon">Шаг 3</span>
      Укажите какие действия будут происходить между системами
    </div>
    <div class="step">
      <span class="icon">
        <object data="assets/images/checked.svg"></object>
      </span>
      Ожидайте нашего звонка
    </div>
  </div>
</div>

<!--Блок с настройками связки-->
<div class="container" *ngIf="system1">
  <h1 class="settings_header" *ngIf="system2">
    Мы поможем вам создать интеграцию {{system1.name}} с {{system2.name}}
  </h1>
</div>
<!-- <div class="settings_container">
  <div class="data_source">
    <h2>Откуда</h2>
    <div class="control system">
      <select>
        <option>-выберите систему-</option>
        <option>Agile CRM</option>
        <option>Битрикс24</option>
        <option selected>Клиентикс</option>
      </select>
    </div>
    <div class="control action">
      <select>
        <option>Загрузить компании (новые)</option>
        <option>Загрузить контакты (новые)</option>
        <option selected>Получить данные</option>
      </select>
    </div>
  </div>

  <div class="data_receiver">
    <h2>Куда</h2>
    <div class="control system">
      <select>
        <option>-выберите систему-</option>
        <option>Agile CRM</option>
        <option>Битрикс24</option>
        <option selected>TurboSMS</option>
      </select>
    </div>
    <div class="control action">
      <select>
        <option>Добавить примечание к сделке</option>
        <option>Редактировать сделку</option>
        <option selected>Отправить SMS</option>
      </select>
    </div>
  </div>
</div> -->
<div class="continue_settings">
  <a class="button settings_btn" (click)="integrationService.clickEvent()">Создать интеграцию</a>
</div>

<!--Список систем для интеграции-->
<h1 class="header">Другие возможные интеграции</h1>
<div class="container" *ngIf="system1">
  <!--wrapper was here-->
  <div class="source">
    <div class="systems_list">
      <!--Список 1-->
      <div class="integrations_title">
        {{system1.name}} <span>(197 готовых коннекторов)</span>
      </div>
      <ul class="lists" *ngIf="system2">
        <li class="system_item" *ngFor="let system of systems">
          <span [style]="' background: url('+ system.icon +');' "></span><a routerLink="/products/{{system.url}}/{{system2.url}}" queryParamsHandling="merge" title='{{system.name}}' (click)="changeSystem()">{{system.name}}</a>
        </li>
      </ul>
    </div>

    <div class="systems_list">
      <!--Список 2-->
      <div class="integrations_title" *ngIf="system2">
        {{system2.name}} <span>(181 готовый коннектор)</span>
      </div>
      <ul class="lists" *ngIf="system1">
        <li class="system_item" *ngFor="let system of systems">
          <span [style]="' background: url('+ system.icon +') 0 0 no-repeat;' "></span><a routerLink="/products/{{system1.url}}/{{system.url}}" queryParamsHandling="merge" title='{{system.name}}' (click)="changeSystem()">{{system.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <!--Блок с часто задаваемыми вопросами и краткое описание систем-->
  <div class="questions_container container"  *ngIf="system1">
    <h4 class="questions"  *ngIf="system2">
      Популярные вопросы про интеграцию {{system1.name}} и {{system2.name}}
    </h4>
    <details *ngIf="system2">
      <summary>
        <span></span>
        <p>Как происходит интеграция {{system1.name}} и {{system2.name}}?</p>
      </summary>
      <ul class="answer">
        <li>Оставьте заявку на нашем сайте</li>
        <li>Выбираете какие данные передавать из {{system1.name}} в {{system2.name}}</li>
        <li>Выбираете какие данные из одной системы передавать в другую</li>
        <li>Ожидайте нашего звонка</li>
      </ul>
    </details>
    <details>
      <summary>
        <span></span>
        <p>Сколько времени нужно на интеграцию?</p>
      </summary>
      <p class="answer">
        В зависимости от системы, с которой вы хотите сделать интеграцию.
      </p>
    </details>
    <details *ngIf="system2">
      <summary>
        <span></span>
        <p>Сколько стоит интеграция {{system1.name}} с {{system2.name}}?</p>
      </summary>
      <p class="answer">
        Стоимость интеграции обсуждается индивидуально
      </p>
    </details>
    <details *ngIf="system2">
      <summary>
        <span></span>
        <p>Сколько доступно интеграций доступно на нашем сайте?</p>
      </summary>
      <p class="answer">
        На данный момент у нас доступно {{systems.length}} интеграций помимо {{system1.name}} и
        {{system2.name}}
      </p>
    </details>
    <div class="about">
      <h4 class="about_header">Информация об {{system1.name}}</h4>
      <p>
        {{system1.description}}
        <a href="/" title="Подробнее о {{system1.name}}">Подробнее</a>
      </p>
      <h4 class="about_header" *ngIf="system2">Информация о {{system2.name}}</h4>
      <p>
        {{system2.description}}
        <a href="/" title="Подробнее о {{system2.name}}">Подробнее</a>
      </p>
    </div>
    <div class="try_btn_container">
      <a class="button try_button" title="Попробовать" (click)="integrationService.clickEvent()">Оставить заявку</a>
    </div>
  </div>

  <!--Блок со статьями-->
  <!-- <h3 class="new_articles">Наши статьи в блоге</h3>
  <div class="articles">
    <article class="article">
      <div class="article_img img1"></div>
      <div class="link_container">
        <p class="article_header">
          10 бизнес-книг для предпринимателей и тех, кто хочет ими стать
        </p>
        <a href="" class="link">Читать далее &rarr;</a>
      </div>
    </article>
    <article class="article">
      <div class="article_img img2"></div>
      <div class="link_container">
        <p class="article_header">
          Битрикс24 – популярная CRM-система в подробностях
        </p>
        <a href="" class="link">Читать далее &rarr;</a>
      </div>
    </article>
    <article class="article">
      <div class="article_img img3"></div>
      <div class="link_container">
        <p class="article_header">
          Как появился Instagram, почему он стал интересен бизнесу и
          пользователям
        </p>
        <a href="" class="link">Читать далее &rarr;</a>
      </div>
    </article>
    <article class="article">
      <div class="article_img img4"></div>
      <div class="link_container">
        <p class="article_header">
          Подборки телеграм-каналов для профессионалов и любителейм
        </p>
        <a href="" class="link">Читать далее &rarr;</a>
      </div>
    </article>
    <article class="article">
      <div class="article_img img5"></div>
      <div class="link_container">
        <p class="article_header">
          Как выбрать надежного фрилансера-профессионала
        </p>
        <a href="" class="link">Читать далее &rarr;</a>
      </div>
    </article>
    <article class="article">
      <div class="article_img img6"></div>
      <div class="link_container">
        <p class="article_header">
          Обзор SaveMyLeads — сервиса для автоматического экспорта лидов из
          Facebook
        </p>
        <a href="" class="link">Читать далее &rarr;</a>
      </div>
    </article>
  </div>-->
</div>
<div class="request">
  <h1 class="header">
    Вы собственник или разработчик сервиса<br />
    которого у нас нет?
  </h1>
  <p>
    Узнайте на каких условиях мы можем реализовать интеграцию<br />
    с Вашим сервисом <a href="/">на этой странице</a>
  </p>
</div>
