/*------ systems. Блок с логотипами систем интеграций----------*/
.systems svg {
  width: 48px;
  height: 48px;
  fill: #495957;
}
.subtitle {
  color: #FFFFFF;
  margin-top: 20px;
  max-width: 520px;
  text-align: center;
  line-height: 20px;
}
.start_now_btn  {
  padding: 10px 55px;
  margin: 40px 0 20px 0;
  color: #ffffff;
}
@media screen and (max-width: 973px) {
  .systems {
    display: none;
  }
  .subtitle {
    font-size: 17px;
    text-align: left;
    max-width: 420px;
    margin-top: 0;
  }
  .container_for_content {
    align-items: flex-start;
    padding: 100px 0 20px 20px;
  }
}
@media screen and (max-width: 689px) {
  .subtitle {
    max-width: 220px;
  }
}

a {
  color: #60bbb5;
}

/*------howto. Блок с инструкцией как интегрировать системы-----------*/
.howto {
  margin-top: 70px;
  font-weight: 400;
}
.instruction {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
}
.step {
  padding: 0 30px 0 30px;
  width: 25%;
  font-size: 15px;
  line-height: 20px;
  color: #464a55;
}
.icon {
  display: block;
  height: 75px;
  font-size: 36px;
  color: #60bbb5;
  font-weight: 700;
  line-height: 75px;
}
.try_btn_container {
  margin-top: 40px;
  text-align: center;
}
.try_button {
  padding: 15px 65px 15px 65px;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 749px) {
  .step {
    width: 50%;
    padding: 10px 30px 10px 30px;
  }
}

/*-------settings. Блок с настройками связки-------------*/
.settings_header {
  padding-top: 70px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
  line-height: 40px;
  color: #60bbb5;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}
/*.settings_container {
  width: 80%;
  border-radius: 10px;
  background: #ffffff;
  filter: drop-shadow(0px 0px 20px rgba(90,90,170,.2));
  margin: 50px auto 60px auto;
}
.data_source, .data_receiver {
  display: flex;
  align-items: center;
}
.data_source h2 {
  margin-right: 50px;
}
.data_receiver h2 {
  margin-right: 78px;
}
.system {
  width: 33%;
  margin-right: 30px;
}
.action {
  width: 55%;
}
.data_source {
  padding: 40px 40px 10px 40px;
}
.data_receiver {
  padding: 10px 40px 40px 40px;
}
@media screen and (max-width: 911px) {
  .data_source {
    padding: 30px 20px 10px 20px;
  }
  .data_receiver {
    padding: 10px 20px 30px 20px;
  }
}
@media screen and (max-width: 803px) {
  .data_source, .data_receiver {
    flex-direction: column;
  }
  .data_source h2, .data_receiver h2 {
    margin-right: 0;
  }
  .system, .action {
    width: 100%;
  }
  .system {
    margin-right: 0;
  }
}
.settings_container h2 {
  text-transform: uppercase;
  color: #60bbb5;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}
.control .title {
  font-size: 14px;
}
.settings_container .control select {
  cursor: pointer;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  margin-top: 5px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #464a55;
}*/
.continue_settings {
  text-align: center;
  margin: 40px 0 60px 0;
}
.settings_btn {
  display: inline-block;
  padding: 15px 65px 15px 65px;
  color: #ffffff;
}

/*--------integrations. Список систем для интеграции-------------*/
.integrations_title {
  padding: 50px 0 15px 0;
  color: #464a55;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 4px dashed #e55749;;
}
.integrations_title span {
  font-weight: normal;
  font-size: 15px;
}
#lists {
  padding-top: 20px;
}
#lists .list {
  list-style-type: none;
  column-count: 5;
}
@media screen and (min-width: 626px) and (max-width: 917px) {
  #lists .list {
    column-count: 3;
  }
}
@media screen and (min-width: 379px) and (max-width: 625px) {
  #lists .list {
    column-count: 2;
  }
}
@media screen and (max-width: 378px) {
  #lists .list {
    column-count: 1;
  }
}
#lists .list li {
  padding: 5px 10px 5px 0;
}
#lists .list a {
  text-decoration: none;
  font-size: 13px;
  color: #464a55;
}
#lists .list span {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 5px;
  float: left;
}

/*-------questions. Блок с часто задаваемыми вопросами и краткое описание систем----------*/
.questions_container {
  padding-top: 80px;
  color: #444444;
  font-size: 15px;
}
.questions {
  font-size: 20px;
  padding-bottom: 10px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;}
summary {
  display:flex;
  padding: 20px 40px 20px 20px;
  font-weight: 600;
  cursor: pointer;
  padding-left: 30px;
}
summary span {
  background: url("/../../assets/images/expand.png") no-repeat;
  width: 16px;
  transition: transform 400ms ease;
}
summary p {
  padding-left: 10px;
}
details[open] summary span {
  transform: rotate(-0.5turn);
}
details {
  margin-top: 10px;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  transition: max-height 400ms;
}
.answer {
  padding: 0 20px 20px 34px;
  font-size: 14px;
  line-height: 18px;
}
details ul {
  margin-left: 33px;
}

details:not([open]) { max-height: 60px; }
details[open] {
  max-height: 500px;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
}
.about {
  font-size: 15px;
  line-height: 24px;
  color: #464a55;
  padding: 0 10px;
}
.about_header {
  padding-top: 30px;
  font-weight: bold;
}

/*-------articles. Блок со статьями----------*/
/*.new_articles {
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  color: #222222;
  padding-top: 70px;
}
.articles {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.article {
  cursor: pointer;
  width: calc(100% / 3 - 20px);
  min-height: 284px;
  margin-top: 20px;
}
.article_img {
  height: 165px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}
.img1 {
  background-image: url(/../../assets/images/1c860e638e3dd4654eaa90a3399a7013.png);
}
.img2 {
  background-image: url(/../../assets/images/5b334296382fcb9e86683078a774de1a.png);
}
.img3 {
  background-image: url(/../../assets/images/cba110c2d52c3029c8844431690b9c32.png);
}
.img4 {
  background-image: url(/../../assets/images/e3ac0d78c9a0b9b1aa265f2a6d63b80b.png);
}
.img5 {
  background-image: url(/../../assets/images/73cab19a42031a94dbdafde71164a070.png);
}
.img6 {
  background-image: url(/../../assets/images/fa14bd8af027c1df78b3abd1f112553d.png);
}
.link_container {
  padding: 15px;
  border-radius: 0 0 8px 8px;
  background: #ffffff;
}
.article_header {
  display: block;
  height: 61px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 110%;
  color: #464a55;
}
.link {
  float: left;
  padding-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #e55749;
}
.link:hover {
  text-decoration: underline;
}*/

/*------request-------*/
.request {
  margin-top: 80px;
  line-height: 40px;
}
.request p {
  padding: 10px 0 0 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #464a55;
}
.request a {
  font-weight: bold;
  color: #60bbb5;
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .article {
    width: calc(100% / 2 - 10px);
  }
}

.show {
  display: none;
}
