<!--Блок с логотипами систем интеграций-->
<div class="container_for_content" *ngIf="product1">
  <div class="systems">
    <img *ngIf="product1" src="{{product1.image}}" alt="{{product1.name}}" title="{{product1.name}} интеграция" />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
      class="fill--purple--t2"
    >
      <g id="bf995fa3-3bf6-420d-8cf8-445688c874dc" data-name="Content">
        <path
          d="M83.06372.80432,98.40227,16.14276a5.45493,5.45493,0,0,1,0,7.71448L83.06372,39.19568a2.72747,2.72747,0,0,1-4.65608-1.92862V28.18242H2.37505A2.72748,2.72748,0,0,1-.35242,25.45494V14.54506a2.72748,2.72748,0,0,1,2.72747-2.72748H78.40764V2.73294A2.72747,2.72747,0,0,1,83.06372.80432Z"
        ></path>
        <path
          d="M16.58386,60.80432,1.24531,76.14276a5.455,5.455,0,0,0,0,7.71448L16.58386,99.19568a2.72747,2.72747,0,0,0,4.65608-1.92862V88.18242H97.27253A2.72748,2.72748,0,0,0,100,85.45494V74.54506a2.72748,2.72748,0,0,0-2.72747-2.72748H21.23994V62.73294A2.72747,2.72747,0,0,0,16.58386,60.80432Z"
        ></path>
      </g>
    </svg>
    <p *ngIf="product1">
      <span>{{ product1.amount }}</span
      ><br />
      готовых систем
    </p>
  </div>
  <p class="subtitle">
    Свяжите {{ product1.name }} с одной из <b>216</b> готовых систем. Начните прямо сейчас!
  </p>
  <a title="Начать сейчас" class="button start_now_btn" (click)="integrationService.clickEvent()"
  >Начать сейчас</a>
</div>
<app-pop-up [class.show]="integrationService.status"></app-pop-up>
<!--Блок с инструкцией как интегрировать системы-->
<div class="howto container">
  <h1 class="header">Как интегрировать {{ product1.name }} и другие системы</h1>
  <p class="info">
    Оставьте нам заявку и мы интегрируем {{ product1.name }} с другими системами.
  </p>
  <div class="instruction">
    <div class="step">
      <span class="icon">Шаг 1</span>
      Выберите онлайн системы которые нужно «связать»
    </div>
    <div class="step">
      <span class="icon">Шаг 2</span>
      Заполните заявку
    </div>
    <div class="step">
      <span class="icon">Шаг 3</span>
      Укажите какие действия будут происходить между системами
    </div>
    <div class="step">
      <span class="icon">
        <object data="assets/images/checked.svg"></object>
      </span>
      Ожидайте нашего звонка
    </div>
  </div>
</div>

<!--Блок с настройками связки-->
<div class="container">
  <h1 class="settings_header">
    Мы поможем вам создать интеграцию с {{ product1.name }}
  </h1>
</div>
<!--<div class="settings_container">
  <div class="data_source">
    <h2>Откуда</h2>
    <div class="control system">
      <select>
        <option>-выберите систему-</option>
        <option selected>Agile CRM</option>
        <option>Битрикс24</option>
      </select>
    </div>
    <div class="control action">
      <select>
        <option>-выберите действие-</option>
        <option selected>Загрузить компании (новые)</option>
        <option>Загрузить контакты (новые)</option>
      </select>
    </div>
  </div>

  <div class="data_receiver">
    <h2>Куда</h2>
    <div class="control system">
      <select>
        <option>-выберите систему-</option>
        <option selected>Agile CRM</option>
        <option>Битрикс24</option>
      </select>
    </div>
    <div class="control action">
      <select>
        <option>-выберите действие-</option>
        <option selected>Добавить примечание к сделке</option>
        <option>Редактировать сделку</option>
      </select>
    </div>
  </div>
</div>-->
<div class="continue_settings">
  <a class="button settings_btn" (click)="integrationService.clickEvent()">Создать интеграцию</a>
</div>

<!--Список систем для интеграции-->
<div class="container">
  <h1 class="header">Возможные интеграции</h1>
  <div class="integrations_title">
    {{ product1.name }} <span>({{ product1.amount }} готовых коннекторов)</span>
  </div>
  <div id="lists">
    <ul class="list">
      <li class="system_item" *ngFor="let system of systems">
        <span
          [style]="' background: url('+ system.icon +') 0 0 no-repeat;' "
        ></span
        ><a [routerLink]="[system.url]" title="system.title">{{system.name}}</a>
      </li>
      <!--Маршрутизация в компонент integration-page-->
    </ul>
  </div>

  <!--Блок с часто задаваемыми вопросами и краткое описание систем-->
  <div class="questions_container container">
    <h4 class="questions">
      Часто задаваемые вопросы про интеграцию с {{ product1.name }}
    </h4>
    <details>
      <summary>
        <span></span>
        <p>Как происходит интеграция {{ product1.name }}?</p>
      </summary>
      <ul class="answer">
        <li>Оставьте заявку на нашем сайте</li>
        <li>
          Далее выбираете в веб интерфейсе с каким сервисом нужно сделать
          интеграцию {{ product1.name }} (на данный момент доступно
          {{ product1.amount }} готовых коннекторов)
        </li>
        <li>Выбираете какие данные из одной системы передавать в другую</li>
        <li>Ожидайте нашего звонка</li>
      </ul>
    </details>
    <details>
      <summary>
        <span></span>
        <p>Сколько времени нужно на интеграцию?</p>
      </summary>
      <p class="answer">
        В зависимости от системы, с которой вы хотите сделать интеграцию.
      </p>
    </details>
    <details>
      <summary>
        <span></span>
        <p>Сколько стоит интеграция {{product1.name}} с другими системами?</p>
      </summary>
      <p class="answer">
        Стоимость интеграции обсуждается индивидуально
      </p>
    </details>
    <details>
      <summary>
        <span></span>
        <p>Сколько доступно интеграций доступно для {{product1.name}}?</p>
      </summary>
      <p class="answer">
        На данный момент у нас доступно {{ product1.amount }} интеграций
        {{ product1.name }} c другими системами
      </p>
    </details>
    <div class="about">
      <h4 class="about_header">Информация об {{ product1.name }}</h4>
      <p>{{product1.description}}</p>
      <br />
      <p>
        Подробнее о работе с <a href="/">{{ product1.name }} API</a>
      </p>
    </div>
    <div class="try_btn_container">
      <a class="button try_button" title="Попробовать" (click)="integrationService.clickEvent()">Оставить заявку</a>
    </div>
  </div>

  <!--Блок со статьями-->
  <!-- <h3 class="new_articles">Наши статьи в блоге</h3>
  <div class="articles">
    <article class="article">
      <div class="article_img img1"></div>
      <div class="link_container">
        <p class="article_header">
          Обзор SaveMyLeads — сервиса для автоматического экспорта лидов из
          Facebook
        </p>
        <a href="" class="link">Читать далее &rarr;</a>
      </div>
    </article>
    <article class="article">
      <div class="article_img img2"></div>
      <div class="link_container">
        <p class="article_header">
          Что такое формула AIDA и для чего ее нужно знать каждому интернет-
          маркетологу
        </p>
        <a href="" class="link">Читать далее &rarr;</a>
      </div>
    </article>
    <article class="article">
      <div class="article_img img3"></div>
      <div class="link_container">
        <p class="article_header">
          Как выгружать данные из Lamoda в виде сделок в Bitrix24?
        </p>
        <a href="" class="link">Читать далее &rarr;</a>
      </div>
    </article>
    <article class="article">
      <div class="article_img img4"></div>
      <div class="link_container">
        <p class="article_header">
          Как оценить результаты рекламной кампании в Фейсбуке и оптимизировать
          расходы
        </p>
        <a href="" class="link">Читать далее &rarr;</a>
      </div>
    </article>
    <article class="article">
      <div class="article_img img5"></div>
      <div class="link_container">
        <a class="article_header"
        >Как выгружать данные из Work.ua в виде лидов в Bitrix24?</a
        >
        <a href="" class="link">Читать далее &rarr;</a>
      </div>
    </article>
    <article class="article">
      <div class="article_img img6"></div>
      <div class="link_container">
        <a class="article_header"
        >Как повысить активность в соцсетях: 7 идей для вовлекающих постов</a
        >
        <a href="" class="link">Читать далее &rarr;</a>
      </div>
    </article>
  </div>-->

  <div class="request">
    <h1 class="header">
      Вы собственник или разработчик сервиса<br />
      которого у нас нет?
    </h1>
    <p>
      Узнайте на каких условиях мы можем реализовать интеграцию<br />
      с Вашим сервисом <a href="#">на этой странице</a>
    </p>
  </div>
</div>
<!--content-->

